astroid==2.12.12
Brotli==1.0.9
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.0.4
dash==2.2.0
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dill==0.3.6
Flask==2.0.3
Flask-Compress==1.11
greenlet==2.0.1
idna==3.4
isort==5.10.1
itsdangerous==2.1.0
Jinja2==3.0.3
lazy-object-proxy==1.8.0
MarkupSafe==2.1.0
mccabe==0.7.0
mysql-connector-python==8.0.31
numpy==1.22.3
pandas==1.4.1
platformdirs==2.5.4
plotly==5.6.0
protobuf==3.20.1
pylint==2.15.5
python-dateutil==2.8.2
pytz==2021.3
requests==2.28.1
six==1.16.0
SQLAlchemy==1.4.44
tenacity==8.0.1
tomli==2.0.1
tomlkit==0.11.6
urllib3==1.26.13
Werkzeug==2.0.3
wrapt==1.14.1
