:root{
  --background_section: cadetblue;
  --background_card: darkcyan;
}

.header_container {
  background: var(--background_section);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
}
.cell_image {
  padding: 10px;
}
.Dashboard_title{
  text-align: center;
  align-items: center;
}

.main_content_container{
  width: 100%;
  background: white;
  display: flex;
  margin: 0px 0px 0px 0px;
  align-items: stretch;
}
.leftcolumn {
  background: var(--background_section);
  margin: 10px 10px 0px 0px;
  padding: 0px 10px 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
  flex-basis: 10rem;
}
.leftcolumn H3{
  text-align: center;
  padding: 10px 10px 0px 10px;
  margin: 0px;
}
.leftcolumn .user_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 100%;
  padding: 0px;
}
.leftcolumn .user_dropdown {
  width: 15rem;
  padding: 0px;
  margin-bottom: 20px;
}
.leftcolumn .user_image {
  padding: 25px;
}
.leftcolumn .B .P {
  padding: 10px;
}

.rightcolumn {
  background: var(--background_section);
  margin: 10px 0px 0px 0px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
  flex-grow: 1;
}
.rightcolumn .sub_header H3{
  text-align: center;
  padding: 10px;
  margin: 0px;
}
.rightcolumn .graphs_container{
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.rightcolumn .first_col{
  text-align: center;
  flex-grow: 1;
}
.rightcolumn .second_col{
  color: black;
  text-align: center;
  flex-grow: 3;
}
.graph_box{
  background: var(--background_card);
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
}
.dcc_graph_three_columns{
  background: var(--background_card);
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
  flex: 1;
}
.dcc_graph{
  height: 18rem;
  padding: 0px 20px 0px 20px;
  margin: 0px;
}
.dcc_graph_info{
  height: 7rem;
  padding: 0px;
  margin: 5px;
}
.footer_container{
  background: var(--background_section);
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightblue, -5px -5px 5px lightblue;
  }