* {
  box-sizing: border-box;
  border-radius: 5px;
}

html {
  height: 100vh;
}

body {
  font-family: Arial;
  padding: 8px;
  background: DarkSlateGrey;
  height: 100vh; /* vh vertical height units */
  margin: 0px;
}

/* Conatainers */
/* .className otherwise #id */
.header_container {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
}
.main_content_container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 10% 90%;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.footer_container {
  background: cadetblue;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
}

/* Header/Blog Title */
.header_title{
  font-size: 36px;
  text-align: center;
  color: darkcyan;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 100%;
  background-color: cadetblue;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
  border: 1px solid white;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
}
.user_dropdown {
  padding: 10px;
}
.user_image {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* Style of html.h2 components belonging to left column */
.leftcolumn h2{
  padding: 5px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

/* Style of html.p components belonging to left column */
.leftcolumn p{
  padding: 5px;
  color: white;
  font-size: 1.2em;
}
/* Style of html.b components belonging to left column */
.leftcolumn b{
  padding: 5px;
  color: white;
  font-size: 1em;
}
/* Right column */
.rightcolumn {
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  padding-right: 10px;
}
.sub_header{
  text-align: center;
  color: white;
  background-color: cadetblue;
  padding: 1px;
  border: 1px solid white;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
}
/* Add a container in matrix form for the graphs*/
.matrix_graph{
  display: grid;
  grid-template-columns: 25 15 auto auto;
  grid-template-rows: 10em 30rem;
  height: : 100%;
  column-gap: 10px;
  row-gap: 10px;
  padding-top: 10px;

}
.graph_box{
  font-size: 30px;
  height: 100%;
}
.dcc_graph_two_columns{
  font-size: 30px;
  grid-column: 3 / span 2;
}
.dcc_graph_three_columns{
  font-size: 30px;
  text-align: center;
  justify-content: center;
  width: 100%;
  grid-column: 1 / span 4;
}
.dcc_graph{
  height: 100%;
  width: 100%;
  float: left;
  border: 1px solid white;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
}


