:root{
  --background_section: cadetblue;
  --background_card: darkcyan;
}
@font-face {
  font-family: "SuperMarioFont";
  src: url("/home/mmaestro/.local/share/fonts/SuperMario256.ttf");
}
/*
*{
 font-family: SuperMario256;
}
*/
.header_container {
  background: var(--background_section);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cell_image {
  padding: 10px;
}
.Dashboard_title{
  text-align: center;
  align-items: center;
}
.weather_info{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.hour_container,
.temperature_container,
.humidity_container{
  margin: 10px;
  padding: 5px 20px 5px 20px;
  background: darkcyan;
  border: 1px solid grey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.weather_title{
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}
.weather_value{
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}

.main_content_container{
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  margin: 0px 0px 0px 0px;
  align-items: stretch;
}
.leftcolumn {
  background: var(--background_section);
  margin: 10px 10px 0px 0px;
  padding: 0px 10px 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
  flex-basis: 10rem;
}

.custom-tabs-container {
  margin: 10px 0px 10px 0px;
  width: 200px;
}
.custom-tab {
  background: darkcyan;
  border: 1px solid white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.custom-title-tab{
  margin: 0px;
  padding: 4px;
  font-size: 10px;
  color: white;
}
.custom-tab--selected {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
custom-title-tab--selected{
  color: red;
  font-size: 10px;
  background-color: #ff1100 !important;
  margin: 0px;
  padding: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.leftcolumn H3{
  text-align: center;
  padding: 10px 10px 0px 10px;
  margin: 0px;
}
.user_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 100%;
  padding: 0px;
}
.user_dropdown {
  width: 15rem;
  padding: 0px;
  margin-bottom: 20px;
}
.user_image {
  padding: 25px;
}
.B .P {
  padding: 5px;
}
.register_new_user{
  margin: 30px 0px 0px 0px;
}
.form_fields_container{
}
.form_title{
  font-size: 18px;
  font-weight: bold;
  padding: 0px;
  margin: 15px 0px 0px 0px;
}
.form_field{
}

.register_user_button{
  height: 80px;
  width: 200px;
  margin: 50px 0px 0px 0px;
  color: #fff;
  padding: 0px;
  background-color: darkcyan;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
}
.register_user_button:hover{
  background-image: url('img/logo_sweanty_1-184x81.png');
  background-size: cover;
  background-color: white;
}

.rightcolumn {
  background: var(--background_section);
  margin: 10px 0px 0px 0px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
  flex-grow: 1;
}
.rightcolumn .graphs_container{
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.rightcolumn .first_col{
  text-align: center;
  flex-grow: 1;
}
.rightcolumn .second_col{
  color: black;
  text-align: center;
  flex-grow: 4;
}

.graph_box{
  background: var(--background_card);
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
}
.dcc_graph_three_columns{
  background: var(--background_card);
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7), -1px -1px 5px rgba(0,0,0,0.7);
  flex: 1;
}
.dcc_graph{
  height: 18rem;
  padding: 0px 20px 0px 20px;
  margin: 0px;
}
.dcc_graph_info{
  height: 7rem;
  padding: 0px;
  margin: 5px;
}
.footer_container{
  background: var(--background_section);
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightblue, -5px -5px 5px lightblue;
  }